@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center" >
    <div class="titulohome">
    <h1  class="neon1">•N0VA•</h1>
    <p class="neon2">PELIS</p>
    <p class="neon3" >
    <span class="flicker1">▶</span>
    <span class="flicker2">▶</span>
    <span class="flicker3">▶</span>
    </p>
   
    @* <p> <a href="https://docs.microsoft.com/aspnet/core"></a>.</p> *@
     </div>
</div>
